div, canvas { margin: 0; padding: 0; }
#wkndr-body { background-color: black; margin: 0; }

#wkndr-graphics-container { position: absolute; background: yellow; }
#wkndr-terminal-container { position: absolute; background: blue; }

body.split-screen #wkndr-graphics-container { width: calc(50% - 2em); height: calc(100% - 2em); margin: 1em; }
body.split-screen #wkndr-terminal-container { pointer-events: initial; left: 50%; width: calc(50% - 1em); height: calc(100% - 2em); margin: 1em 0 1em 1em; }

#wkndr-graphics-container { width: calc(100% - 2em); height: calc(100% - 2em); margin: 1em; }
#wkndr-terminal-container { pointer-events: none; width: calc(100% - 2em); height: calc(100% - 2em); margin: 1em 0 1em 1em; }

.maxwh { width: 100%; height: 100%; position: absolute; }
